# Самостоятельная работа №3

In [1]:
install.packages(c("dplyr", "tidyr", "stringr"))
install.packages("dplyr")
install.packages("data.table")
install.packages("openxlsx")

Installing packages into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

Warning message in install.packages(c("dplyr", "tidyr", "stringr")):
“'lib = "/usr/local/lib/R/site-library"' is not writable”

ERROR: Error in install.packages(c("dplyr", "tidyr", "stringr")): unable to install packages

In [14]:
download.file(
    "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv", 
    paste(
        "./data/practice3/", 
        "time_series_covid19_confirmed_global.csv", 
        sep=""
    )
)

a <- read.csv("./data/practice3/time_series_covid19_confirmed_global.csv")

head(a)

  Province.State Country.Region      Lat       Long      X1.22.20 X1.23.20
1                Afghanistan          33.93911  67.70995 0        0
2                Albania              41.15330  20.16830 0        0
3                Algeria              28.03390   1.65960 0        0
4                Andorra              42.50630   1.52180 0        0
5                Angola              -11.20270  17.87390 0        0
6                Antigua and Barbuda  17.06080 -61.79640 0        0
  X1.24.20 X1.25.20 X1.26.20 X1.27.20 ⋯ X4.29.21 X4.30.21 X5.1.21 X5.2.21
1 0        0        0        0        ⋯  59576    59745    59939   60122
2 0        0        0        0        ⋯ 130977   131085   131185  131238
3 0        0        0        0        ⋯ 121866   122108   122311  122522
4 0        0        0        0        ⋯  13198    13232    13232   13282
5 0        0        0        0        ⋯  26431    26652    26815   26993
6 0        0        0        0        ⋯   1232     1232     1232    1232
  X5.3.21 X5.4.21 X5.5.21 X5.6.21 X5.7.21 X5.8.21
1  60300   60563   60797   61162   61455   61755
2 131276  131327  131419  131510  131577  131666
3 122717  122999  123272  123473  123692  123900
4  13295   13316   13340   13363   13390   13406
5  27133   27284   27529   27921   28201   28477
6   1232    1232    1232    1232    1232    1232

In [15]:

cols <- colnames(a)[4:length(colnames(a))]
head(cols)

colnames(a)[4:length(colnames(a))] <- cols
head(a)

[1] "Long"     "X1.22.20" "X1.23.20" "X1.24.20" "X1.25.20" "X1.26.20"

  Province.State Country.Region      Lat       Long      X1.22.20 X1.23.20
1                Afghanistan          33.93911  67.70995 0        0
2                Albania              41.15330  20.16830 0        0
3                Algeria              28.03390   1.65960 0        0
4                Andorra              42.50630   1.52180 0        0
5                Angola              -11.20270  17.87390 0        0
6                Antigua and Barbuda  17.06080 -61.79640 0        0
  X1.24.20 X1.25.20 X1.26.20 X1.27.20 ⋯ X4.29.21 X4.30.21 X5.1.21 X5.2.21
1 0        0        0        0        ⋯  59576    59745    59939   60122
2 0        0        0        0        ⋯ 130977   131085   131185  131238
3 0        0        0        0        ⋯ 121866   122108   122311  122522
4 0        0        0        0        ⋯  13198    13232    13232   13282
5 0        0        0        0        ⋯  26431    26652    26815   26993
6 0        0        0        0        ⋯   1232     1232     1232    1232
  X5.3.21 X5.4.21 X5.5.21 X5.6.21 X5.7.21 X5.8.21
1  60300   60563   60797   61162   61455   61755
2 131276  131327  131419  131510  131577  131666
3 122717  122999  123272  123473  123692  123900
4  13295   13316   13340   13363   13390   13406
5  27133   27284   27529   27921   28201   28477
6   1232    1232    1232    1232    1232    1232

In [16]:
library(tidyr)
library(dplyr)


a <- unite(a, "Location", Province.State:Country.Region)
a <- mutate(a, Location = gsub("^_", "", Location))
head(a)

  Location            Lat       Long      X1.22.20 X1.23.20 X1.24.20 X1.25.20
1 Afghanistan          33.93911  67.70995 0        0        0        0
2 Albania              41.15330  20.16830 0        0        0        0
3 Algeria              28.03390   1.65960 0        0        0        0
4 Andorra              42.50630   1.52180 0        0        0        0
5 Angola              -11.20270  17.87390 0        0        0        0
6 Antigua and Barbuda  17.06080 -61.79640 0        0        0        0
  X1.26.20 X1.27.20 X1.28.20 ⋯ X4.29.21 X4.30.21 X5.1.21 X5.2.21 X5.3.21
1 0        0        0        ⋯  59576    59745    59939   60122   60300
2 0        0        0        ⋯ 130977   131085   131185  131238  131276
3 0        0        0        ⋯ 121866   122108   122311  122522  122717
4 0        0        0        ⋯  13198    13232    13232   13282   13295
5 0        0        0        ⋯  26431    26652    26815   26993   27133
6 0        0        0        ⋯   1232     1232     1232    1232    1232
  X5.4.21 X5.5.21 X5.6.21 X5.7.21 X5.8.21
1  60563   60797   61162   61455   61755
2 131327  131419  131510  131577  131666
3 122999  123272  123473  123692  123900
4  13316   13340   13363   13390   13406
5  27284   27529   27921   28201   28477
6   1232    1232    1232    1232    1232

In [17]:
second <- select(a, c("Location", "Lat", "Long"))

second["Amount"] <- rowSums(a[4:length(colnames(a))])
second["Average"] <- second["Amount"] / (length(colnames(a)) - 4)
second["SD"] <- apply(a[4:length(colnames(a))], 1, sd, na.rm=TRUE)

head(second)

  Location            Lat       Long      Amount   Average    SD
1 Afghanistan          33.93911  67.70995 15663184 33184.7119 21306.9180
2 Albania              41.15330  20.16830 16995535 36007.4894 45164.0816
3 Algeria              28.03390   1.65960 25036479 53043.3877 44998.2631
4 Andorra              42.50630   1.52180  2095092  4438.7542  4572.7331
5 Angola              -11.20270  17.87390  4105926  8698.9958  9330.6174
6 Antigua and Barbuda  17.06080 -61.79640   117632   249.2203   374.5957

In [18]:
library(data.table)

temp <- a[-(2:3)]
result <- data.frame(t(temp[-1]))

colnames(result) <- temp[, 1]
setDT(result, keep.rownames="Date")
result$Date <- as.Date(result$Date, format="%m.%d.%y")

head(temp)
head(result)

Attaching package: ‘data.table’


The following objects are masked from ‘package:dplyr’:

    between, first, last

  Location            X1.22.20 X1.23.20 X1.24.20 X1.25.20 X1.26.20 X1.27.20
1 Afghanistan         0        0        0        0        0        0
2 Albania             0        0        0        0        0        0
3 Algeria             0        0        0        0        0        0
4 Andorra             0        0        0        0        0        0
5 Angola              0        0        0        0        0        0
6 Antigua and Barbuda 0        0        0        0        0        0
  X1.28.20 X1.29.20 X1.30.20 ⋯ X4.29.21 X4.30.21 X5.1.21 X5.2.21 X5.3.21
1 0        0        0        ⋯  59576    59745    59939   60122   60300
2 0        0        0        ⋯ 130977   131085   131185  131238  131276
3 0        0        0        ⋯ 121866   122108   122311  122522  122717
4 0        0        0        ⋯  13198    13232    13232   13282   13295
5 0        0        0        ⋯  26431    26652    26815   26993   27133
6 0        0        0        ⋯   1232     1232     1232    1232    1232
  X5.4.21 X5.5.21 X5.6.21 X5.7.21 X5.8.21
1  60563   60797   61162   61455   61755
2 131327  131419  131510  131577  131666
3 122999  123272  123473  123692  123900
4  13316   13340   13363   13390   13406
5  27284   27529   27921   28201   28477
6   1232    1232    1232    1232    1232

  Date Afghanistan Albania Algeria Andorra Angola Antigua and Barbuda Argentina
1 <NA> 0           0       0       0       0      0                   0
2 <NA> 0           0       0       0       0      0                   0
3 <NA> 0           0       0       0       0      0                   0
4 <NA> 0           0       0       0       0      0                   0
5 <NA> 0           0       0       0       0      0                   0
6 <NA> 0           0       0       0       0      0                   0
  Armenia Australian Capital Territory_Australia ⋯ United Kingdom Uruguay
1 0       0                                      ⋯ 0              0
2 0       0                                      ⋯ 0              0
3 0       0                                      ⋯ 0              0
4 0       0                                      ⋯ 0              0
5 0       0                                      ⋯ 0              0
6 0       0                                      ⋯ 0              0
  Uzbekistan Vanuatu Venezuela Vietnam West Bank and Gaza Yemen Zambia Zimbabwe
1 0          0       0         0       0                  0     0      0
2 0          0       0         2       0                  0     0      0
3 0          0       0         2       0                  0     0      0
4 0          0       0         2       0                  0     0      0
5 0          0       0         2       0                  0     0      0
6 0          0       0         2       0                  0     0      0

In [ ]:
library(openxlsx)

dir.create(file.path("./data/practice3/", "data_output"), showWarnings=FALSE)

write.table(result, "./data/practice3/data_output/result.txt")
write.csv(result, "./data/practice3/data_output/result.csv", row.names=FALSE)
write.xlsx(result, "./data/practice3/data_output/result.xlsx")